@font-face {
	font-family: "Nunito";
	src: url("./assets/fonts/Nunito-Regular.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

#root {
	height: 100%;
	width: 100%;
}

:root {
	--color-primary: rgb(132, 83, 252);
	--color-secondary: rgb(211, 160, 248);
	--color-background: #f7f7f7;

	--font-color: #202020;

	--box-background: #e2e2e2;
	--box-border-radius: 3vw;

	--button-border-radius: 3vw;

	--color-success: 56, 236, 40;
	--color-danger: 223, 13, 13;
	--color-rgb-primary: 132, 83, 252;
	--color-rgb-secondary: 211, 160, 248;
}

html.dark {
	--color-primary: #222222;
	--color-secondary: rgb(27, 134, 120);
	/* --color-secondary: rgb(27, 134, 80); */
	--color-background: #363636;

	--font-color: #fefefe;

	--box-background: #222222;

	--color-rgb-primary: 27, 134, 80;
	--color-rgb-secondary: 27, 134, 120;
}

html.theming,
html.theming * {
	transition: all 0.2s linear;
}

html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: content-box;

	font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;

	color: var(--font-color);

	background-color: var(--color-background);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

::-webkit-scrollbar {
	width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-secondary);
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary);
}
