@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;

  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  height: 100%;
  width: 100%;
}

:root {
  --color-primary: #8453fc;
  --color-secondary: #d3a0f8;

  --box-background: #f1f2f6;
  --box-border-radius: 38px;

  --button-border-radius: 38px;
}
