.select{
    background-color: var(--font-color);
      color: var(--color-primary);
      padding: 12px;
      border: none;
      font-size: 20px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      outline: none;
}
