.model-container {
	max-height: 35vw;
	min-height: 35vw;
	height: 35vw;
	min-width: 35vw;
	max-width: 35vw;
	width: 35vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.model-container * {
	z-index: 100;
}
