.button {
	background: rgb(var(--button-background));
	font-weight: var(--font-weight);
	color: var(--button-color);
	font-weight: bold;
	padding: 1vw 2vw;
	font-size: 1vw;

	min-width: fit-content;

	border: none;
	border-radius: var(--button-border-radius);

	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
}

.button:hover:enabled {
	cursor: pointer;
	box-shadow: 0 0 2vw #c8c9cc00;

	box-shadow: 0 0 1vw rgb(var(--button-background));
}

.button:disabled {
	background-color: rgba(var(--button-background), 0.3);
}
