.badge {
	background: var(--button-background);
	color: var(--button-color);
	height: 2.25vw;
	width: 2.25vw;

	padding: 1vw;

	background: linear-gradient(145deg, rgba(var(--button-background), 0.7), rgba(var(--button-background), 1));

	border: none;
	border-radius: 100%;
}
