.background {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--color-secondary);
	height: 100%;
	width: 80%;

	padding: 5% 0;

	/* box-shadow: 1px 1px 4px #b88bcfa9, -1px -1px 4px #ffcdffa9; */
	border-radius: var(--box-border-radius);

	color: #fefefe;
}

.progress {
	background: #f1f2f6;
	height: 1.5vw;
	width: 80%;

	border-radius: 2vw;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress::-webkit-progress-bar {
	-webkit-appearance: none;
	appearance: none;

	background-color: #fafafa;
	border-radius: 2vw;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress::-webkit-progress-value {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
		-webkit-linear-gradient(left, #09c, var(--color-primary));

	border-radius: 2vw;
	background-size: 35px 1.5vw, 100% 100%, 100% 100%;
}
