.link {
  width: 11rem;
  height: 3rem;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.2);

  border-radius: var(--box-border-radius);
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;

  color: #fafafa;
}

.link:hover {
  box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.link-active {
  width: 11rem;
  height: 3rem;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.2);

  border-radius: var(--box-border-radius);
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;

  color: var(--color-secondary);
}

.link-active svg {
  stroke: var(--color-secondary);
}
