.link {
  width: 11rem;
  height: 3rem;
  box-shadow: inset 7px 7px 16px #7649dd, inset -7px -7px 16px #965dff;

  border-radius: var(--box-border-radius);
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;

  color: #fafafa;
}

.link:hover {
  box-shadow: inset 7px 7px 16px #6d43cb, inset -7px -7px 16px #9f63ff;
}

.link-active {
  width: 11rem;
  height: 3rem;

  box-shadow: inset 7px 7px 16px #6d43cb, inset -7px -7px 16px #9f63ff;

  border-radius: var(--box-border-radius);
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;

  color: #fafafa;
}

.link-active svg {
  stroke: var(--color-secondary);
}
