.content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	padding: 1rem 1.5rem;
}

.infos {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.actions {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-bottom: 2.9rem;
	gap: 1rem;
}

/* .infos {
	
} */

.infos h1 {
	font-size: 2rem;
}

.infos h3 {
	font-size: 1rem;
	opacity: 0.7;
}
