.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.app-content {
  height: 100%;
  width: 100%;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

/* @media screen and (max-width: 1200px) {
  .app-content {
    padding: 0 2rem;
  }
} */
