.status-bar {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 2vw;

	background: var(--color-primary);
	box-shadow: 0 0 1vw rgba(0, 0, 0, 0.603);
}

@media screen and (max-width: 1200px) {
	.status-bar {
		display: none;
	}
}

.status-bar ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 0;

	height: 30%;
}
