.profiles-boxes {
	display: grid;

	padding: 2.5rem;
	margin: 0 auto;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	column-gap: 2rem;
	row-gap: 2rem;

	width: 90%;
}

@media screen and (max-width: 1200px) {
	.profiles-boxes {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		width: 100%;
		padding: 0;
	}
}

@media screen and (min-width: 1800px) {
	.profiles-boxes {
		grid-template-columns: repeat(3, 1fr);
		/* grid-template-columns: minmax(20rem, auto); */
		/* grid-template-columns: minmax(min-content, 20rem) minmax(10rem, 1fr) 150px; */
		grid-template-rows: auto;
	}
}

@media screen and (min-width: 2500px) {
	.profiles-boxes {
		grid-template-columns: repeat(4, 1fr);
		/* grid-template-columns: minmax(20rem, auto); */
		/* grid-template-columns: minmax(min-content, 20rem) minmax(10rem, 1fr) 150px; */
		grid-template-rows: auto;
	}
}

.shortcut {
	width: 100%;
	padding-top: 2rem;

	justify-self: flex-start;
}
