.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.header-titles {
	display: flex;
	align-items: center;
}

.header-titles h1 {
	margin-right: 2rem;
	font-size: 2rem;
}

.header-titles h5 {
	font-size: 1.5rem;
}

.running-infos {
	display: flex;
	justify-content: space-around;
	gap: 5rem;
	width: 100%;
}

.infos-contents {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
}

.infos-contents h4 {
	font-size: 1.5rem;
}

.info {
	padding: 0 1.5rem;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.model-container {
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.no-profile {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	font-size: 2rem;
}

.no-profile img {
	width: 25rem;
}
