.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 4rem;

  padding: 0 3rem;

  box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 25px;

  background-color: #fefefe;
}

.playing-status {
  display: flex;
  align-items: center;
}

.status-text {
  color: var(--status-color);
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 0.3rem;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-title {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .status-bar {
    padding: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

.status-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
