.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 3.5rem;

  padding: 0 3rem;

  box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 25px;
}

.status-text {
  color: var(--status-color);
}
